<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sarasmarg-CCTV Complaint</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
  <style>
    #map { height: 400px; }
    </style>
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="logo"><img src="assets/img/logo-sarasmarg-2.png" alt=""></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto " href="./getLocation.ejs">All Complaints</a></li>
          <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade-up">
 
    

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper" style="height:68vh;">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="<%= issue.files %>" alt="" >
                </div>

                <!-- <div class="swiper-slide">
                  <img src="assets/img/portfolio/problem-categorisation-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/problem-categorisation-3.jpg" alt="">
                </div> -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <!-- <h3><span class="badge bg-success">Approved</span></h3> -->
              <div class="div-group">
                <form action="/AuthoritySideCCTVFeed" method="POST">
                    <label for="types" class="label-group" style="font-weight:700px; color: brown;"></label>
                    <select name="status"  class="typeList" >
                        <option value="Pending" <%= issue.status == 'Pending' ? 'selected' : '' %>>Pending</option>
                        <option value="Acknowledged" <%= issue.status == 'Acknowledged' ? 'selected' : '' %>>Acknowledged</option>
                        <option value="Investigating" <%= issue.status == 'Investigating' ? 'selected' : '' %>>Investigating</option>
                        <option value="Cleared" <%= issue.status == 'Cleared' ? 'selected' : '' %>>Cleared</option>
                        
                    </select>
                    <input type="hidden" name="id" value="<%= issue._id %>">
                <!-- <input type="submit" class="submit-btn"> -->
                <button class="submit-btn" type="submit" style="    border: none;
                padding: 5px 20px;
                border-radius: 27px;
                background-color: goldenrod;
                color: white;
                font-weight: 800;">Update</button>
                </form>
            </div>

              <ul>
                <li><strong>Category</strong>: Cracks</li>
                <li><strong>Cordinates</strong>: <%= issue.coordinates %></li>
                <li><strong>Date</strong>: <%= issue.date %></li>
                <li><strong>Time</strong>: <%= issue.time %></li>
                <li><strong>Location</strong>: <%= issue.location %></li>
                <li><strong>Problem</strong>: <%= issue.problem %></li>
              </ul>
            </div>
            <!-- <div class="portfolio-description">
              <p>
                <%= issue.description %>
            </p>
            </div> -->
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <h1 style="font-size: 41px;text-align : center;color: #2e85cb; ">Complaint Location</h1>
  <div id="map" style=" margin: 13px 33px 33px 33px;"></div>

  <script>

var map = L.map('map').setView([<%- issue.coordinates %>], 8);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 25,
    attribution: '© OpenStreetMap'
}).addTo(map);
var latLon = L.latLng(<%- issue.coordinates %>);
var bounds = latLon.toBounds(500); // 500 = metres
map.panTo(latLon).fitBounds(bounds);



L.marker([<%- issue.coordinates %>]).addTo(map).bindPopup(`<%- issue.coordinates %>`).openPopup();




  </script>

  <!-- <div id="preloader"></div> -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
